@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Pacifico&display=swap');

.title-activities {
    font-family: 'Pacifico', cursive;
    font-size: 42px;

}

.card-title {
    font-family: 'Pacifico', cursive;
}

      