
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: brown;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-image: url("../img/bg-quillen.webp");
}