@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Pacifico&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

::selection {
    background-color: brown;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-image: url("../img/bg-quillen.webp");
}