



.titulo-galeria {
    font-size: 50px;
}

.btn-primary {
    background-color: burlywood;
    color: black;
}

/*** animation ***/

h1 {
    transition: all 1.5s;
    transition-delay: 0.5s;
}




